name: Go
on: [push]
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.22.x]
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5.0.2
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get dependencies
        run: |
          make install

      - name: Lint Go
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          version: latest
          args: --verbose

      - name: Lint Dockerfile
        run: |
          make lint-dockerfile

      - name: Build
        run: |
          make build

      - name: Test
        run: |
          make test
